@model ViewModel.ViewModels.Reservation
@{
    ViewBag.Title = "MakeReservation";
}

<h2>MakeReservation</h2>

<div>
   
    @Html.Label(Model.Customer.FirstName)
    <br />
   @Html.Label(Model.Customer.LastName)
    <br />
   @* @Html.Label(Model.Customer.Zip) &nbsp; &nbsp;
    @Html.Label(Model.Customer.City)
    <br />
    @Html.LabelFor(m=>m.OrderItem.Spiece)  @Html.Label(Model.OrderItem.Spiece)

    <br />
    @Html.LabelFor(m => m.OrderItem.Petname)  @Html.Label(Model.OrderItem.Petname)
    <br />
     Perid: @Model.OrderItem.Arrival to @Model.OrderItem.Departure
       *@
</div>

